    @import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300;700&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Merienda:wght@400;700&display=swap');

    body {
        margin: 0;
        padding: 0;
    }

    div#background {
        width: 100vw;
        height: 100vh;
        background: linear-gradient(-45deg, black, #253C59, #537FA6); /*#F21326, #F26D78, #80B2F2, #79D0F2, #F2CD5C, #F28972*/
        animation: fundo 5s ease-in-out infinite;
        background-size: 400% 400%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    @keyframes fundo {  
        0% {
            background-position: 0% 50%;
        }
        50% {
            background-position: 50% 100%;
        }
        100% {
            background-position: 0% 50%;
        }
    }

    main {
        background-color: #1f2b3a;
        border-radius: 20px;
        padding: 20px;
        margin: 20px 0;
    }

    main > h1 {
        /*font-family: 'Patrick Hand';*/
        /*font-family: 'Open Sans Condensed';*/
        font-family: 'Merienda';
        font-weight: 400;
        font-size: 34px;
        color: white;
        margin: 0;
        letter-spacing: 5px;
        text-align: center;
        position: relative;
    }

    main > hr {
        width: 200px;
        position: relative;
        border: white solid 1px;
        border-radius: 20px;
    }

    main > hr#inteiro {
        width: auto;
    }

    .início {
        right: 55px;
    }

    .fim {
        left: 55px;
    }

    #fim > hr {
        width: 140px;
    }

    main> div > img {
        width: 80%;
        margin: 20px 20px;
        border-radius: 50%;
    }

    div#imagem {
        display: flex;
        justify-content: center;
        margin-top: 30px;
    }

    .centro {
        display: flex;
        justify-content: center;
    }

    @media (min-width: 768px){
        main > h1{
            font-size: 42px;
        }

        main > hr {
            border-width: 2px;
        }

        main > img {
            width: 500px;
        }    

    }