    @import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');

    body {
        margin: 0;
        padding: 0;
    }

    div#background {
        width: 100vw;
        height: 100vh;
        background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB); /*#F21326, #F26D78, #80B2F2, #79D0F2, #F2CD5C, #F28972*/
        animation: fundo 5s ease-in-out infinite;
        background-size: 400% 400%;

    }

    @keyframes fundo {  
        0% {
            background-position: 0% 50%;
        }
        50% {
            background-position: 50% 100%;
        }
        100% {
            background-position: 0% 50%;
        }
    }

    main {
        position: relative;
        top: 10%;
        display: flex;
        flex-flow: column;
        justify-content: center;
    }

    main > h1 {
        font-family: 'Patrick Hand';
        font-weight: 400;
        font-size: 3em;
        color: white;
        margin: 0;
        text-align: center;
        letter-spacing: 5px;
    }

    main > hr {
        width: 20%;
        border: solid white 1px;
        border-radius: 20px;
        height: 0.2em;
        background-color: white;
        margin: 0;
        position: relative;
        left: 40%;
    }
