    @import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300;700&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Merienda:wght@400;700&display=swap');

    body {
        margin: 0;
        padding: 0;
        color:#D9D9D9; /*#418EF0*/
        font-family: 'Open Sans Condensed';
    }

    div#background {
        width: 100vw;
        height: 100vh;
        background-image: url(pexels-sebastian-voortman-189349.jpg);
        background-size: cover;
        display: flex;
        justify-content: center;
        align-items: center;    
    }

    @keyframes fundo {  
        0% {
            background-position: 0% 50%;
        }
        50% {
            background-position: 50% 100%;
        }
        100% {
            background-position: 0% 50%;
        }
    }

    div#background > div.borda {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 340px;
        height: 520px;
        border-radius: 10px;
        /*background: linear-gradient(-45deg, #f01e30, #f07983, #679ce2, #62c8f0, #ecc44b, #d3674f);*/
        background: linear-gradient(-45deg, #484442, #FDE7B5, #FD9D55, #484442);
        animation: fundo 5s ease-in-out infinite;
        background-size: 400% 400%;
    }

    main {
        background-color: #1369eb; /*rgba(245, 222, 179, 0.685)*/
        border-radius: 10px;
        margin: 10px;
        display: flex;
        flex-flow: column;
        width: 320px;
        height: 500px;
    }

    main > h1 {
        /*font-family: 'Patrick Hand';*/
        /*font-family: 'Open Sans Condensed';*/
        font-weight: 700;
        font-size: 32px;
        margin: 10px 30px 5px 30px;
        letter-spacing: 6px;
        text-align: center;
    }

    span#profissão {
        text-align: center;
        font-size: 28px;
        letter-spacing: 2px;
        margin-bottom: 20px;
    }

    div#línguas {
        display: flex;
        justify-content: space-between;
        font-size: 24px;
        margin: 0 40px;
        font-weight: 700;
    }

    img {
        width: 150px;
        padding: 5px;
        border-radius: 50%;
    }

    main > div#content {
        display: flex;
        justify-content: center;
        margin-top: 20px;
    }

    main > div > span.borda {
        width: 150px;
        display: flex;
        border-radius: 50%;
        background: linear-gradient(-45deg,  #484442, #FDE7B5, #FD9D55, #484442);
        animation: fundo 5s ease-in-out infinite;
        background-size: 400% 400%;
    }

    .centro {
        display: flex;
        justify-content: center;
    }

    .bordaspan {
        border: solid #D9D9D9 1px;
        border-radius: 10px;
        width: 70px;
        display: flex;
        justify-content: center;
    }

    a#contact {
        font-size: 28px;
        text-decoration: none;
        color: #D9D9D9;
        margin: 25px 20px 0 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-bottom: 2px;
        height: 40px;
        border: solid #D9D9D9 2px;
    }

    a#contact:hover {
        background-color: #D9D9D9;
        color: #1369eb;
        border: solid #1369eb 2px;
    }

    div#contatos {
        margin: 25px 20px 0 20px;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        display: flex;
        justify-content: center;
    }

    div#contatos > a {
        color: #D9D9D9;
        margin: 0 15px;
    }

    div#contatos > a > i#twitter:hover {
        color: #1369eb;
    }

    @media (min-width: 768px){
        main > h1{
            font-size: 54px;
            margin: 0 140px;
        }

        main {
            width: 400px;
            height: 500px;
        }

        main > img {
            width: 500px;
        }   
        
        main > div#content {
            left: 100px;
        }

    }